  .sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    /* transition: 0.4s; */
    padding-top: 3%;
    opacity: 1 !important;
    margin-right: 90px;
    filter: drop-shadow(0 0 10px #fff);
  }

  .sidebar-img {
    filter: drop-shadow(0 0 10px #fff);
    width: 100px !important;
    height: auto;
  }
.sidebar-content a{
  text-decoration: none;
}
.sidebar-content a:focus{
  outline: none;
}
  .sidelink {
    font-family: 'MyFont' !important;
  }

  /* #content-container {
    margin-left: 250px;
  } */

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
  }

  .sidenav .closebtn:hover {
    color: rgb(217, 142, 53);
    border: none;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  .sidebar-icon {
    width: 40% !important;
  }

  .sidenav a {
    font-size: 18px;
  }

  .toggler {
    font-size: 45px;
    font-weight: 100;
    cursor: pointer;
    color: #fff;
  }

  .sidebar-data {
    color: #fff;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.2s all;
  }

  

  .sidebar-links  {
    font-size: 15px;
    color: #fff;
    font-weight: 100;
    /* padding-left: 10px; */
    text-decoration: none;
    font-family: 'OpenSans', serif !important;
  }

  .sidebar-data:hover .sidebar-links  {
    color: rgb(217, 142, 53);
    text-decoration: none;
  }

  .sidebar-btn {
    cursor: pointer;
  }

  .sidebar-data:hover {
    animation-name: sidebarshake;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(.36, .07, .19, .97);
    animation-fill-mode: both;
    animation-iteration-count: 1;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes sidebarshake {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
  }

  @media only screen and (max-width:1400px) {
    .sidebar-icon {
      width: 35% !important;
    }
    .sidebar-links  {
      font-size: 12px !important;
    }
    .sidebar-img {
      width: 70px !important;
      height: auto;
    }
  }

  @media only screen and (max-width:767px) {
    .sidenav {
      width: 0;
      margin: 0;
    }
  }