.entertainment-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 !important;
  overflow: hidden;
  padding: 0;
}
.comet-block {
  position: relative;
  top: -10%;
  left: 0%;
}

.comet {
  position: relative;
  left: 5%;
  top: 10%;
  filter: drop-shadow(0 0 5px #1f1f1f);
}

.ent-header {
  color: #fff;
  font-size: 3vw;
}

.ent-text {
  padding-left: 20px;
  color: #fff;
  text-align: left;
  width: 35% !important;
}

.entertain-image {
  padding-right: 20%;
}

.btn-ent {
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 20px 40px;
  border: none;
  background: none;
  text-align: center;
  line-height: 1;
  font-size: 24px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.btn-ent:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 8px;
  bottom: 8px;
  left: 0;
  border-left: 1px solid #ffd700;
}

.btn-ent:after {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  right: 0;
  bottom: 0;
  left: 15px;
  border-right: 1px solid #ffd700;
}

.btn-ent span {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.btn-ent span:before, .btn-ent span:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  -webkit-transform: skew(45deg);
  transform: skew(45deg);
  background: linear-gradient(375deg, rgba(245, 107, 17, 1), rgba(254, 204, 61, 1), rgba(245, 107, 17, 1));
}

.btn-ent span:before {
  left: 8px;
  bottom: 0;
  border-bottom: 1px solid #ffd700;
  border-left: 1px solid #ffd700;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

.btn-ent span:after {
  top: 0;
  right: 8px;
  border-top: 1px solid #ffd700;
  border-right: 1px solid #ffd700;
  -webkit-transform-origin: top right;
  transform-origin: top right;
}

.btn-ent:hover {
  filter: drop-shadow(0 0 10px rgb(254, 215, 0));
}

.btn-ent:focus {
  outline: none;
}

@media only screen and (max-width:1400px) {
  .btn-ent {
    padding: 15px 30px;
    font-size: 20px;
  }
  .entertainment-block{
    margin-bottom: 50px;
  }
}

@media only screen and (max-width:1300px) {
  .entertain-image {
    padding-right: 0% !important;
  }
}