.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url('./assets/fonts/OpenSans-Bold.ttf');
  font-family: OpenSans;
}

body {
  padding: 0;
  margin-top: 0;
  font-family: 'OpenSans', serif !important;
  background-color: #000 !important;
}

#root {
  background: url('./assets/images/newback.png');
  background-position: left bottom;
  background-size: 100% 84% !important;
  background-repeat: no-repeat;
  opacity: 1 !important;
}

p, h2 {
  background: transparent !important;
}

.top-banner {
  background: url('./assets/images/banner.png') !important;
  background-size: 100% 35% !important;
  background-repeat: no-repeat !important;
  background-position: left top!important;
}

.second-banner {
  background: url('./assets/images/games-flare.png');
  background-position: 100% 16% ;
  background-repeat: no-repeat !important;
  background-size: 100% 20%;
}
body::-webkit-scrollbar {
  width: 10px !important;
  background-color: #F5F5F5 !important;
  cursor: pointer !important;
}

body::-webkit-scrollbar-thumb {
  background-color: #d98e35 !important;
  cursor: pointer !important;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  background-color: #fff !important;
  cursor: pointer !important;
}

li {
  list-style-type: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
  height: 100vh !important;
}
@media only screen and (max-width:1700px) {
  .second-banner {
    background-position: 100% 19% !important;
  }
}
@media only screen and (max-width:1600px) {
  .second-banner {
    background-position: 100% 20% !important;
  }
}

@media only screen and (max-width:1400px) {
  .top-banner {
    background-size: 100% 35% !important;
  }
  #root {
    background-size: 100% 84% !important;
  }
  .second-banner {
    background-position: 100% 21% !important;
  }
}
@media only screen and (max-width:1300px) {
  .second-banner {
    background-position: 100% 23% !important;
  }
}
@media only screen and (max-width:1200px){
  .second-banner {
    background-position: 100% 25% !important;
  }
}